.container {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt {
    font-size: 80;
    font-family: fantasy;
    position: absolute;
    border-color: black;
    opacity: 0;
}

.imgBack{
    width: 30%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#full {
    background-size: cover;
    background-size: auto 100%;
    width:100%;
    height: 100%;
    position:fixed;
}